/* BASE - Base styles, variables, mixins, normalize */
/* Fonts Config  */
@font-face {
  font-family: fontDisplay;
  src: url(../fonts/DroidSans.ttf);
}
@font-face {
  font-family: fontDisplayBold;
  src: url(../fonts/DroidSans-Bold.ttf);
}
/* Font Colors */
/* Background Colors */
/* Website's Width */
/* Normalize CSS */
body {
  font-family: fontDisplay;
  font-size: 15px;
  /*line-height:1.7em;*/
}

#container .container {
  max-width: 1045px;
}

/* MODULES - Individual site components */
/* Buttons */
.section-slider .carousel-caption > .btn, .section-main-content .more-products-container .btn, .section-special-offer-adv .special-offer .border .product-info > .btn ~ .btn, .section-special-offer-adv .advertisement .border .product-info > .btn ~ .btn, .section-slider .carousel-caption > .btn ~ .btn, .section-special-offer-adv .special-offer .border .product-info > .btn, .section-special-offer-adv .advertisement .border .product-info > .btn {
  font-family: fontDisplay;
  background-image: none;
  border-radius: 0;
}
.section-slider .carousel-caption > .btn:hover, .section-main-content .more-products-container .btn:hover, .section-special-offer-adv .special-offer .border .product-info > .btn ~ .btn:hover, .section-special-offer-adv .advertisement .border .product-info > .btn ~ .btn:hover, .section-slider .carousel-caption > .btn ~ .btn:hover, .section-special-offer-adv .special-offer .border .product-info > .btn:hover, .section-special-offer-adv .advertisement .border .product-info > .btn:hover {
  background-color: #6397aa;
  color: #ffffff;
}

.section-slider .carousel-caption > .btn, .section-main-content .more-products-container .btn, .section-special-offer-adv .special-offer .border .product-info > .btn ~ .btn, .section-special-offer-adv .advertisement .border .product-info > .btn ~ .btn {
  color: #ffffff;
  background-color: #99c873;
}

.section-slider .carousel-caption > .btn ~ .btn, .section-special-offer-adv .special-offer .border .product-info > .btn, .section-special-offer-adv .advertisement .border .product-info > .btn {
  color: #99c873;
  background-color: transparent;
}

/* Sections */
.section-slider {
  background-color: #faffff;
}
.section-slider .carousel-indicators li {
  background-color: #d6d6d6;
  border: none;
}
.section-slider .carousel-indicators .active {
  background-color: #6397aa;
  width: 10px;
  height: 10px;
  margin: 1px;
}
.section-slider .carousel-inner > .item > img,
.section-slider .carousel-inner > .item > a > img {
  float: right;
  margin-right: 95px;
}
.section-slider .carousel-control {
  color: #b5b5b5;
  background-image: none;
  width: 0;
}
.section-slider .carousel-control .glyphicon-chevron-left {
  left: 0;
  margin-left: 0;
}
.section-slider .carousel-control .glyphicon-chevron-right {
  right: 0;
  margin-right: 0;
}
.section-slider .carousel-caption {
  width: 38%;
  top: 9%;
  left: 9%;
  right: inherit;
  bottom: 0;
  text-align: left;
  text-shadow: none;
}
.section-slider .carousel-caption h2 {
  font-family: fontDisplayBold;
  color: #325f70;
  margin-bottom: 15px;
}
.section-slider .carousel-caption p {
  font-size: 18px;
  color: #6397aa;
  margin-bottom: 25px;
}

.section-main-content .products-container .product, .section-new-products .product {
  padding: 0;
  margin-right: 30px;
  max-width: 230px;
}
.section-main-content .products-container .product img:first-child, .section-new-products .product img:first-child {
  width: 100%;
}
.section-main-content .products-container .product a:hover, .section-new-products .product a:hover {
  text-decoration: none;
}
.section-main-content .products-container .product a:hover .product-name, .section-new-products .product a:hover .product-name {
  color: #325f70;
  text-decoration: none;
}
.section-main-content .products-container .product .main-background, .section-new-products .product .main-background {
  position: relative;
  bottom: 80px;
  left: 1px;
  font-size: 70px;
  opacity: 0.5;
  color: #424242;
}
.section-main-content .products-container .product .product-sale, .section-new-products .product .product-sale {
  position: relative;
  bottom: 130px;
}
.section-main-content .products-container .product .product-sale p, .section-new-products .product .product-sale p {
  color: #ffffff;
  position: relative;
}
.section-main-content .products-container .product .product-sale .promotion-price-background, .section-new-products .product .product-sale .promotion-price-background {
  bottom: -98px;
  left: -98px;
  font-size: 50px;
  color: #d52b2b;
}
.section-main-content .products-container .product .product-sale .promotion-price-background .price, .section-new-products .product .product-sale .promotion-price-background .price {
  font-size: 14.83px;
  bottom: 38px;
  left: 0px;
  z-index: 9;
}
.section-main-content .products-container .product .product-sale .promotion-price-background .currency, .section-new-products .product .product-sale .promotion-price-background .currency {
  font-size: 12.98px;
  bottom: 48px;
  left: 0;
  z-index: 9;
}
.section-main-content .products-container .product .product-sale .shipping-background, .section-new-products .product .product-sale .shipping-background {
  bottom: -95px;
  left: -58px;
  font-size: 50px;
  color: #ff9000;
}
.section-main-content .products-container .product .product-sale .shipping-background p:first-child, .section-new-products .product .product-sale .shipping-background p:first-child {
  font-family: fontDisplayBold;
  font-size: 14.83px;
  bottom: 37px;
  left: 0px;
}
.section-main-content .products-container .product .product-sale .shipping-background p:last-child, .section-new-products .product .product-sale .shipping-background p:last-child {
  font-size: 9px;
  bottom: 48px;
  left: 0;
}
.section-main-content .products-container .product .product-sale .new-status-background, .section-new-products .product .product-sale .new-status-background {
  bottom: -72px;
  left: -87px;
  font-size: 50px;
  color: #ffd800;
}
.section-main-content .products-container .product .product-sale .new-status-background p, .section-new-products .product .product-sale .new-status-background p {
  font-family: fontDisplayBold;
  font-size: 12px;
  bottom: 30px;
  left: 0;
}
.section-main-content .products-container .product .product-information, .section-new-products .product .product-information {
  position: relative;
  top: -65px;
  font-size: 14px;
}
.section-main-content .products-container .product .product-information .product-name, .section-new-products .product .product-information .product-name {
  color: #1e2934;
  letter-spacing: -0.9px;
}
.section-main-content .products-container .product .product-information .product-status, .section-new-products .product .product-information .product-status {
  color: #627b92;
  padding-left: 6px;
}

.section-main-content {
  padding: 30px 0 0 0;
  background-color: #e9f4ff;
}
.section-main-content .col-md-9 {
  padding: 0;
}
.section-main-content h3 {
  margin: 0;
  line-height: 10px;
}
.section-main-content .list-unstyled {
  margin-top: 35px;
}
.section-main-content ul li {
  margin-bottom: 15px;
}
.section-main-content ul li:hover {
  width: 52%;
  padding: 5px 8px;
  background-color: #6397aa;
  cursor: pointer;
}
.section-main-content ul li:hover a {
  color: #ffffff;
  text-decoration: none;
}
.section-main-content ul li a {
  color: #325f70;
  font-size: 14px;
}
.section-main-content .products-container {
  margin: 0;
}
.section-main-content .products-container .product {
  margin-bottom: -45px;
}
.section-main-content .more-products-container {
  width: 150px;
  margin: auto;
  margin-bottom: 30px;
}
.section-main-content .more-products-container .btn {
  position: relative;
  margin-left: -15px;
}

.section-new-products {
  padding: 30px 0 0 0;
  background-color: #faffff;
}
.section-new-products h3 {
  margin: 0;
}
.section-new-products .product {
  margin-top: 15px;
}

.section-special-offer-adv .special-offer .border, .section-special-offer-adv .advertisement .border {
  border: 1px solid #dddddd;
  position: relative;
}
.section-special-offer-adv .special-offer .border img, .section-special-offer-adv .advertisement .border img {
  margin-bottom: 30px;
}
.section-special-offer-adv .special-offer .border .product-info, .section-special-offer-adv .advertisement .border .product-info {
  padding-top: 30px;
  font-family: fontDisplayBold;
  position: absolute;
  top: 0;
  right: 45px;
}
.section-special-offer-adv .special-offer .border .product-info .old-price, .section-special-offer-adv .advertisement .border .product-info .old-price {
  font-size: 20.94px;
  color: #cd1919;
  margin: 0;
}
.section-special-offer-adv .special-offer .border .product-info .new-price, .section-special-offer-adv .advertisement .border .product-info .new-price {
  font-size: 30px;
  color: #99c873;
  margin: 0;
  margin-bottom: 20px;
}
.section-special-offer-adv .special-offer .border .product-info > .btn, .section-special-offer-adv .advertisement .border .product-info > .btn {
  padding: 8px 23px;
}
.section-special-offer-adv .special-offer .border .product-info > .btn ~ .btn, .section-special-offer-adv .advertisement .border .product-info > .btn ~ .btn {
  margin-top: 5px;
  padding: 8px 26px;
}

.section-special-offer-adv {
  background-color: #faffff;
}
.section-special-offer-adv .title {
  padding-left: 0;
}
.section-special-offer-adv .special-offer {
  padding-left: 0;
  padding-right: 30px;
}
.section-special-offer-adv .advertisement {
  padding-left: 0;
  padding-right: 30px;
}
.section-special-offer-adv .advertisement .border .adv-content {
  background-color: #f6f6f6;
  color: #627b92;
  font-size: 14px;
}

/* LAYOUTS - Page layout styles*/
/* Menu */
.navbar-default {
  background-color: #000a52;
  border-radius: 0;
  border: none;
  background-image: none;
  font-size: 14px;
  margin-bottom: 0;
}
.navbar-default .navbar-collapse {
  padding: 5px 0;
}
.navbar-default .navbar-collapse .list-inline {
  display: none;
}
.navbar-default .navbar-collapse .navbar-nav > li {
  margin-right: 15px;
}
.navbar-default .navbar-collapse .nav > li > a {
  padding: 10px 0;
  color: #ffffff;
}
.navbar-default .navbar-collapse .nav > li > a:hover {
  font-family: fontDisplayBold;
  border-bottom: 3px solid #ffffff;
}
.navbar-default .navbar-collapse .dropdown-menu {
  width: 100%;
  padding-left: 12.8%;
  position: fixed;
  left: 0;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #6397aa;
  box-shadow: none;
}
.navbar-default .navbar-collapse .dropdown-menu li {
  display: inline-block;
}
.navbar-default .navbar-collapse .dropdown-menu li a {
  color: #325f70;
  font-size: 14px;
  padding: 0;
  margin-right: 15px;
}
.navbar-default .navbar-collapse .dropdown-menu li a i {
  color: grey;
}

/* Header */
header {
  background-color: #faffff;
  padding: 2.02% 0;
}
header .container {
  margin-top: 5px;
}
header .container .brand-icon {
  float: left;
  margin-right: 7px;
  margin-top: 15px;
}
header .container .brand-name {
  font-family: fontDisplayBold;
  font-style: italic;
  font-weight: bold;
  letter-spacing: -3px;
  color: #325f70;
}
header .container .brand-name h1 {
  font-size: 34.04px;
  margin: 0;
  margin-top: 5px;
}
header .container .number-contact, header .container .number-contact a {
  font-size: 16px;
  color: #000a52;
  margin: 0;
  margin-top: 4px;
  float: right;
}
header .container .number-contact a {
  font-weight: bold;
  float: none;
}
header .container .user-management {
  font-size: 14px;
  float: right;
}
header .container .user-management a {
  text-decoration: underline;
  color: #666666;
  margin-right: 10px;
}
header .container .user-management a:hover {
  text-decoration: none;
}
header .container .user-management a:last-child {
  margin-right: 0;
}
header .container .quick-search input {
  width: 100%;
  height: 38px;
  margin-top: 5px;
  margin-left: 5px;
  padding-left: 10px;
  position: relative;
  font-size: 14px;
  border: 1px solid #84adbc;
}
header .container .quick-search i {
  position: absolute;
  top: 12px;
  right: 25px;
  font-size: 20px;
  color: #6397aa;
}

/* Responsive Fix */
/* #Tablet (Landscape) 1024px
---------------------------------------------------------------------------------------------------------------*/
@media only screen and (min-width: 960px) and (max-width: 1240px) {
  /***
   * Fix container width
   */
  #container .container {
    width: auto;
  }

  /***
   * Fix menu
   */
  .navbar-default {
    font-size: 14px;
  }
  .navbar-default .navbar-collapse .dropdown-menu {
    padding-left: 15px;
  }
  .navbar-default .navbar-collapse .dropdown-menu li a {
    margin-right: 10px;
  }

  /***
   * Fix main content
   */
  .section-main-content .products-container .product {
    margin-right: 25px;
    /* .product-sale {
        .promotion-price-background {
            bottom: 8px;
            left: -43%;
            .price {
                bottom: 14px;
                left: 43%;
            }
            .currency {
                bottom: 1px;
                left: 44.3%;
            }
        }
        .shipping-background {
            bottom: 8px;
            left: -26%;
            p {
                &:first-child {
                    bottom: 14px;
                    left: 43%;
                }
                &:last-child {
                    bottom: 4px;
                    left: 41%;
                }
            }
        }
    } */
  }
}
/* #Tablet (Portrait) 768px
---------------------------------------------------------------------------------------------------------------*/
@media only screen and (min-width: 768px) and (max-width: 959px) {
  /***
   * Fix container width
   */
  #container .container {
    width: auto;
  }

  /***
   * Fix menu
   */
  .navbar-default {
    font-size: 11px;
  }
  .navbar-default .navbar-collapse .navbar-nav > li {
    margin-right: 10px;
  }
  .navbar-default .navbar-collapse .dropdown-menu {
    padding-left: 5px;
  }
  .navbar-default .navbar-collapse .dropdown-menu li a {
    font-size: 11px;
    margin-right: 5px;
  }

  /***
   * Fix main content
   */
  .section-main-content .products-container .product {
    margin-right: 25px;
    /* .product-sale {
        .promotion-price-background {
            bottom: 8px;
            left: -43%;
            .price {
                bottom: 14px;
                left: 42%;
            }
            .currency {
                bottom: 1px;
                left: 44.3%;
            }
        }
        .shipping-background {
            bottom: 8px;
            left: -26%;
            p {
                &:first-child {
                    bottom: 14px;
                    left: 43%;
                }
                &:last-child {
                    bottom: 4px;
                    left: 41%;
                }
            }
        }
    } */
  }
}
/* #Mobile (Landscape) 480px
---------------------------------------------------------------------------------------------------------------*/
@media only screen and (min-width: 480px) and (max-width: 767px) {
  /***
   * Fix container width
   */
  #container .container {
    width: auto;
  }

  /***
   * Fix float header
   */
  header .container .number-contact, header .container .number-contact a {
    float: none;
  }
  header .container .user-management {
    float: none;
  }
  header .container .quick-search input {
    margin: 0;
  }
  header .container .quick-search i {
    top: 8px;
  }

  /***
   * Fix menu
   */
  .navbar-default .navbar-collapse {
    padding: 5px 30px;
  }
  .navbar-default .navbar-collapse .dropdown-menu {
    position: static;
    float: none;
    padding-left: 15px;
    width: auto;
    background-color: transparent;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .navbar-default .navbar-collapse .dropdown-menu li {
    display: list-item;
  }
  .navbar-default .navbar-collapse .dropdown-menu li a {
    padding: 5px 0;
  }

  /***
   * Fix slider
   */
  .section-slider .carousel-indicators {
    bottom: -12px;
  }
  .section-slider .carousel-inner > .item > img,
  .section-slider .carousel-inner > .item > a > img {
    width: 40%;
    margin-right: 50px;
  }
  .section-slider .carousel-caption {
    top: 0;
  }
  .section-slider .carousel-caption h2 {
    margin-bottom: 0;
    font-size: 12px;
  }
  .section-slider .carousel-caption p {
    font-size: 10px;
    margin-bottom: 10px;
  }
  .section-slider .carousel-caption > .btn {
    font-size: 11px;
    padding: 3px 3px;
  }

  /***
   * Fix main content
   */
  .section-main-content .list-unstyled {
    margin-top: 20px;
    display: inline-block;
  }
  .section-main-content ul li {
    margin-bottom: 15px;
    margin-right: 5px;
    display: inherit;
  }
  .section-main-content ul li:hover {
    width: auto;
    padding: 5px 5px;
  }
  .section-main-content ul li a {
    font-size: 12px;
  }
  .section-main-content .products-container .product {
    margin: 0 9%;
    width: 32%;
    float: left;
    /* .product-sale {
        .promotion-price-background {
            bottom: 8px;
            left: -42%;
            .price {
                bottom: 14px;
                left: 42%;
            }
            .currency {
                bottom: 1px;
                left: 44.3%;
            }
        }
        .shipping-background {
            bottom: 8px;
            left: -23%;
            p {
                &:first-child {
                    bottom: 14px;
                    left: 42%;
                }
                &:last-child {
                    bottom: 4px;
                    left: 41%;
                }
            }
        }
    } */
  }
  .section-main-content .more-products-container .btn {
    margin-left: 0;
  }
}
/*  #Mobile (Portrait) 320px
---------------------------------------------------------------------------------------------------------------*/
@media only screen and (min-width: 100px) and (max-width: 479px) {
  /***
   * Fix container width
   */
  #container .container {
    width: auto;
  }

  /***
   * Fix float header
   */
  header .container .number-contact, header .container .number-contact a {
    float: none;
  }
  header .container .user-management {
    float: none;
  }
  header .container .quick-search input {
    margin: 0;
  }
  header .container .quick-search i {
    top: 8px;
  }

  /***
   * Fix menu
   */
  .navbar-default .navbar-collapse {
    padding: 5px 30px;
  }
  .navbar-default .navbar-collapse .dropdown-menu {
    position: static;
    float: none;
    padding-left: 15px;
    width: auto;
    background-color: transparent;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .navbar-default .navbar-collapse .dropdown-menu li {
    display: list-item;
  }
  .navbar-default .navbar-collapse .dropdown-menu li a {
    padding: 5px 0;
  }

  /***
   * Fix slider
   */
  .section-slider {
    min-height: 300px;
  }
  .section-slider .carousel-indicators {
    bottom: -12px;
  }
  .section-slider .carousel-inner > .item > img,
  .section-slider .carousel-inner > .item > a > img {
    width: 80%;
    float: none;
  }
  .section-slider .carousel-caption {
    display: none;
  }

  /***
   * Fix main content
   */
  .section-main-content .list-unstyled {
    margin-top: 20px;
    display: inline-block;
  }
  .section-main-content ul li {
    margin-bottom: 15px;
    margin-right: 5px;
    display: inherit;
  }
  .section-main-content ul li:hover {
    width: auto;
    padding: 5px 5px;
  }
  .section-main-content ul li a {
    font-size: 12px;
  }
  .section-main-content .products-container .product {
    margin: 0 22%;
    /* .product-sale {
        .promotion-price-background {
            bottom: 35px;
            left: -45%;
            .price {
                font-size: 9.83px;
                bottom: 14px;
                left: 45%;
            }
            .currency {
                font-size: 8.98px;
                bottom: 1px;
                left: 46.3%;
            }
        }
        .shipping-background {
            bottom: -8px;
            left: -45%;
            p {
                &:first-child {
                    font-size: 9.83px;
                    bottom: 14px;
                    left: 45%;
                }
                &:last-child {
                    font-size: 8px;
                    bottom: 4px;
                    left: 42%;
                }
            }
        }
    } */
  }
  .section-main-content .more-products-container .btn {
    margin-left: 0;
  }
}

/*# sourceMappingURL=main.css.map */
